@{
    ViewBag.Title = "Confirmación de reestablecimiento de contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Su contraseña se ha reestablecido. Por favor @Html.ActionLink("click aquí para iniciar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
