@{
    ViewBag.Title = "Home Page";
}

<h2>Gestion de Marcas - <span style="color:darkslategray;">Menu</span></h2>

<br/>

<div class="div-Container">   
   
        <div class="container-fluid"> 
                  
            <div class="row">
                <div class="col-md-3 div-Container-Menu">
                    <span class="glyphicon glyphicon-apple" style="text-align:center;margin:0 auto;"></span>
                    <p>Registro de Marcas</p>
                </div>
                <br />  
                <div class="col-md-3 div-Container-Menu">
                    <span class="glyphicon glyphicon-certificate"></span>
                    <p>Mantenimiento</p>
                </div>
                <br />  
                <div class="col-md-3 div-Container-Menu">
                    <span class="glyphicon glyphicon-circle-arrow-up"></span>
                    <p>Marcas Solicitadas</p>
                </div>
                <br />  
                <div class="col-md-3 div-Container-Menu">
                    <span class="glyphicon glyphicon-check"></span>
                    <p>Reportes</p>
                </div>
            </div>
        </div>
</div>